.signup .form-signup{
    margin-left: 35%;
    margin-right: 35%;
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    padding: 20px;
    background-color: #fff;
}

.signup .form-signup h2{
    margin-top: -1%;
}

.signup .form-signup{
    text-align: center;
    padding:2%;
}
.signup .form-signup form{
    margin-top:10%;
}

.signup .form-signup input{
    width: 80%;
    height: 2%;
    border: 3px solid #75797a;
    padding: 8px;
    outline: none;
    margin-bottom:3%;
    border-radius:10px;
}

.signup .form-signup .radio-group {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup .form-signup .radio-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    padding: 9px 20px;
    background-color: #fff;
    color: #75797a;
    border: 2px solid #75797a;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.signup .form-signup .radio-group input[type="radio"] {
    display: none;
}

.signup .form-signup .radio-group input[type="radio"]:checked + label {
    background-color: var(--primary);
    color: #fff;
    border-color: var(--primary);
}


.signup .form-signup input[type="submit"]{
    margin-top:1%;
    width: 80%;
    height: 2%;
    background-color: var(--primary);
    padding: 8px;
    margin-bottom:8%;
    border-radius:10px;
    border:none;
    color:#fff;
    font-size: 15px;
    font-weight: 500;
}

.signup .form-signup input[type="submit"]:hover{
    background-color: var(--secondary);
}
.signup .form-signup a{
    color:#000;
}
.signup .form-signup a:hover{
    color: #0b6662;
}
.errorMessage{
    margin-top:5px;
    font-weight: 600;
    font-size: 17px;
}
.error
{
    margin-top:-9px;
    color: rgb(171, 22, 22);
}
.signup h3{
    margin:2px;
}
